
{% extends "home.html" %}
{% load static %}
{% block content %}


    <div class="all">
       
    </div>

    <div class="image">
        <div class="im1">
            <img src="{% static 's2.avif' %}" alt="">
        </div>
        <div class="desc">
            <pre>Lorem ipsum dolor sit amet consectetur
adipisicing elit.Accusantium consequuntur
accusamus, quasi commodi provident
molestiae adipisci excepturi voluptate labore
totam ipsum temporibus!Hic accusamus sit, 
laborum rerum dolor unde aliquid.</pre>
        </div>
    </div>

    <div class="image">

        <div class="desc">
            <pre>Lorem ipsum dolor sit amet consectetur
adipisicing elit.Accusantium consequuntur
accusamus, quasi commodi provident
molestiae adipisci excepturi voluptate labore
totam ipsum temporibus!Hic accusamus sit, 
laborum rerum dolor unde aliquid.</pre>
        </div>
        <div class="im1">
            <img src="saree.jpg" alt="">
        </div>
    </div>


    <div class="image">
        <div class="im1">
            <img src="s2.avif" alt="">
        </div>
        <div class="desc">
            <pre>Lorem ipsum dolor sit amet consectetur
adipisicing elit.Accusantium consequuntur
accusamus, quasi commodi provident
molestiae adipisci excepturi voluptate labore
totam ipsum temporibus!Hic accusamus sit, 
laborum rerum dolor unde aliquid.</pre>
        </div>
    </div>

    <div class="image">

        <div class="desc">
            <pre>Lorem ipsum dolor sit amet consectetur
adipisicing elit.Accusantium consequuntur
accusamus, quasi commodi provident
molestiae adipisci excepturi voluptate labore
totam ipsum temporibus!Hic accusamus sit, 
laborum rerum dolor unde aliquid.</pre>
        </div>
        <div class="im1">
            <img src="saree.jpg" alt="">
        </div>
    </div>


    {% endblock%}