{% extends "home.html" %}
{% load static %}
{% block content %}

    <div class="contact">
        <h1>Contact Us</h1>
        <select>
            <option>Select Issue From The list</option>
            <option>Product Question</option>
            <option>Order Status</option>
            <option>Returns</option>
            <option>Other</option>
        </select>

        <div class="inp">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="E-mail"><br>
            <input type="text" placeholder="Contact No">
            <input type="text" placeholder="Your Messege"><br>
            <button>Send Message</button>
        </div>
    </div>

{% endblock %}