{% extends "home.html" %}
{% load static %}
{% block content %}

 
    
    <div class="card1">
        
        <div class="one-card">
            <i class="fa-solid fa-heart icon"></i>
            <div class="img1">
                <img src="{% static 'sp/casualgown/cabhl4.webp' %}" alt="">
            </div>
            <div class="description">
                <p> <a href="#">Shcon Women highlow gown</a></p>
                <h3>Rs.21,000.00</h3>
                <button>Add to cart</button>
            </div>
        </div>
        
    </div>

{% endblock %}