{% extends "home.html" %}
{% load static %}
{% block content %}


<div class="login-main">
    <div class="login ">
        <h1 class="logincolor">Login</h1>
        <h4 style="color: #c77d75;">{{msg}}</h4>
        <form action="{% url 'log' %}" method="POST">
       
            {% csrf_token %}
        <input type="email"  name="email"  placeholder="E-mail" required><br>
        <input type="password" name="password" placeholder="Password" required ><br>


        <p><a href="{% url 'reset'  %}">Forget Your password</a></p>
        <button type="submit" style="background-color: #c77d75;">Sign-in</button><br>

        <a href="{% url 'reg'  %}">Create Account</a>
    </form>
    </div>
</div>

{% endblock %}
