{% extends "home.html" %}
{% load static %}
{% block content %}

    <div class="ship">

        <h1>Returns Policy</h1>

        <h1>PRE-SHIPMENT CANCELLATIONS</h1>

        <h3>Q: I just placed an order but now want to cancel it. How can I do this?</h3>
        <p>A: Please e-mail info@lashkaraa.com immediately with your order # and request to cancel. Order cancellation
            requests must be received within 24 hours of order placement for a 100% refund back to your used method of
            payment. Order cancellation requests made after this period are only approved on a case-to-case basis,
            depending on if the product(s) in your order are nearing completion for dispatch. If your order cancellation
            request is approved, you will receive a refund in the form of a store credit only. If you need a refund back
            to your card, a 10% re-stocking fee will be applied.

            Please note that READY TO SHIP items (items with a dispatch time of 48 hrs) cannot be cancelled once the
            order is placed. When you place an order for a Ready To Ship product with us, this item immediately goes
            into processing as we have to dispatch this item from our warehouse within 48 hours as noted online.</p>

        <h3>Q: Why must I inform you within 24 hours of order placement if I want to cancel my order?</h3>
        <p>A: As soon as you place your order, we get to work. At this point, the picking, customization and logistics
            for your order has already begun, hence we request all cancellation requests be reported to us within 24
            hours of order placement only.</p>


        <h3>Q: I missed a very important detail regarding my order. Do I need to cancel my order for this and place a
            new order?</h3>
        <p>A: No worries! If you need to update something in your shipping/contact information or need to update your
            measurements, please e-mail info@lashkaraa.com with your order # and our team will update the required
            information. However, please note that if the item in your order has already been stitched and/or
            dispatched, we will not be able to make any changes. Hence, we would request you e-mail us as soon as
            possible.</p>

        <h1>POST-SHIPMENT RETURN REQUESTS</h1>

        <h3>Q: I received my order but would like to return. How can I do this?</h3>
        <p>A: Please e-mail us at info@lashkaraa.com alongside your order # and reason for return. Please note that you
            must provide us a written record of the reason for return within 7 days of receiving your order. Post
            receiving your return request, one of our team members will confirm your return request and provide you with
            the address for return. Please note the following for all returns:

            Merchandise must have all tags.
            All Sale merchandise is "Final Sale" and cannot be returned.
            All custom stitched items cannot be returned and are "Final Sale"
            Jewelry, hair accessories are all "Final Sale"</p>\

        <h3>Q: I received my order and there's an error. What will you do to fix this?</h3>
        <p>A: To err is human - we take strong measures to ensure that our products reach you in the best possible
            condition, however, if your order reaches you in one of the following conditions, we will take back the
            product at our own cost and get the correct product delivered out to you ASAP:</p>

        <h1>REFUNDS & PROCESSING</h1>

        <p>Returns for store credit will be processed free of charge, while returns for a refund to your original
            payment method (i.e. credit card, paypal) will incur a handling & processing fee of 10% of your total
            purchase price to be deducted from the amount to be refunded to you.
            You, the customer, will be liable for all return shipping costs/customs charges which may be incurred in the
            return of the package back to us.
            A refund will only be issued once we receive your item for return. We are not liable for packages lost in
            transit or undelivered by your chosen return carrier.
            Original shipping charges are non-refundable. In the event of a 'Free Shipping promotion', standard shipment
            charges paid from our end will be deducted from the refund amount back to you.
            Do NOT return any item(s) without prior confirmation from a member of our team. If your return has not been
            approved by a team member, we reserve all rights to deny your return and your package will be returned back
            to you at your own cost.
            Just as it is our responsibility to assure that your order reaches you, it is your responsibility to make
            sure that your return reaches us. For this reason, we ask that tracking information be provided for ALL
            returns so both sides may keep track on the progress of the return. Please note that we are NOT liable for
            any courier misdeliveries, courier delays, or customs delays incurred by your chosen courier in delivering
            your return back to us. </p>

    </div>

    {% endblock %}