{% extends "home.html" %}
{% load static %}
{% block content %}

    <div class="ship">
        <h1>Shipping Information</h1>

        <h3>SHIPPING METHODS AND COSTS</h3>
        <p>- Shipping is free for all the orders.
            - We only use reputed couriers for dispatching our products - such as DHL, FedEx and UPS. We provide tracking information for all orders once dispatched. </p>
        
        <h3>IMPORTANT INFORMATION</h3>
        <p>Order cut-off times are provided as guidelines only, and do not take into account possible delays caused by payment authorization delays or holidays.
            We aim to dispatch all ready to ship items 48 hours of payment confirmation. Estimated delivery times are to be used as a guideline only and commence from the date of dispatch. We are not responsible for any delays caused by customs in your respective country.
            We are unable to redirect orders to a different address once items have been dispatched.
            All orders will require a signature upon delivery, however, in some cases for deliveries to a residential address the shipment may be left at the door.
            We do NOT deliver to P.O Box Addresses. </p>

        <h3>WHEN DO WE DELIVER</h3>
        <p>All orders do take about 2-5 days for delivery from the date of dispatch depending on the respective destination. Further information on the order status can be provided by our customer care upon request. </p>

        <h3>FREE SHIPPING</h3>
        <p>Free Shipping is offered on all orders above $200 USD to US, UK, Canada, Australia, and selected other countries.</p>
        
        <h3>TAXES & DUTIES</h3>
        <p>To most countries, our items are shipped to on a DDU (Delivery Duty Unpaid) basis, which means product prices displayed are exclusive of all import duties. As the recipient, you are liable for all import duties which may be payable, customs and local sales taxes levied by the country you are in, payment of these at the time of delivery is necessary to release your order from customs on arrival.  </p>
    </div>

    {% endblock %}